.swiperSlide {
  height: 250px;
  padding: 1rem;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.citate {
  padding: 1rem;
}
.image {
  padding: 1rem;
  max-width: 200px;
  max-height: 200px;
  @media screen and (max-width: 400px) {
    display: none;
  }
}
