<svg
  id="Layer_1"
  data-name="Layer 1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 0 1768.36 296.82"
  ><defs
    ><style>
      .cls-1 {
        fill: url(#linear-gradient);
      }
      .cls-2 {
        fill: url(#linear-gradient-2);
      }
      .cls-3 {
        fill: url(#linear-gradient-3);
      }
      .cls-4 {
        fill: #fff;
      }
      .cls-5 {
        fill: #ed2024;
      }
      .cls-6 {
        fill: #365caa;
      }
      .cls-7 {
        fill: url(#linear-gradient-4);
      }
    </style><linearGradient
      id="linear-gradient"
      x1="387.4"
      y1="159.48"
      x2="531.63"
      y2="159.48"
      gradientUnits="userSpaceOnUse"
      ><stop offset="0" stop-color="#45ade2"></stop><stop
        offset="0.29"
        stop-color="#44aae0"></stop><stop offset="0.54" stop-color="#3f9fd8"
      ></stop><stop offset="0.77" stop-color="#378ecc"></stop><stop
        offset="0.99"
        stop-color="#2d75ba"></stop><stop offset="1" stop-color="#2c74b9"
      ></stop>
    </linearGradient><linearGradient
      id="linear-gradient-2"
      x1="560.19"
      y1="159.48"
      x2="703.4"
      y2="159.48"
      xlink:href="#linear-gradient"></linearGradient><linearGradient
      id="linear-gradient-3"
      x1="728.5"
      y1="159.48"
      x2="872.73"
      y2="159.48"
      xlink:href="#linear-gradient"></linearGradient><linearGradient
      id="linear-gradient-4"
      x1="853.4"
      y1="397.78"
      x2="985.98"
      y2="397.78"
      gradientTransform="translate(-744.2 495.49) rotate(-45)"
      xlink:href="#linear-gradient"></linearGradient>
  </defs><title>acamunity</title><path
    class="cls-1"
    d="M496.66,89.8h35V229.16h-35V214.43q-10.23,9.73-20.53,14a57.51,57.51,0,0,1-22.33,4.29q-27,0-46.69-20.94T387.4,159.74q0-32.28,19.07-52.9t46.31-20.63A59,59,0,0,1,476.32,91a64.31,64.31,0,0,1,20.34,14.22ZM459.9,118.49q-16.22,0-26.93,11.47t-10.73,29.39q0,18.06,10.92,29.72A35.35,35.35,0,0,0,460,200.73q16.47,0,27.32-11.47t10.85-30q0-18.19-10.85-29.47T459.9,118.49Z"
  ></path><path
    class="cls-2"
    d="M703.4,118l-29.11,16q-8.2-8.58-16.23-11.91a48.69,48.69,0,0,0-18.78-3.33q-19.62,0-31.74,11.7t-12.12,30q0,17.77,11.67,29t30.65,11.26q23.46,0,36.55-16l27.57,18.88q-22.41,29.16-63.28,29.16-36.75,0-57.57-21.78t-20.82-51a71.75,71.75,0,0,1,38.37-64q18.12-9.74,40.54-9.74,20.74,0,37.27,8.27A70.71,70.71,0,0,1,703.4,118Z"
  ></path><path
    class="cls-3"
    d="M837.76,89.8h35V229.16h-35V214.43q-10.23,9.73-20.53,14a57.51,57.51,0,0,1-22.33,4.29q-27,0-46.7-20.94t-19.7-52.07q0-32.28,19.07-52.9t46.31-20.63A59,59,0,0,1,817.42,91a64.31,64.31,0,0,1,20.34,14.22ZM801,118.49q-16.21,0-26.93,11.47t-10.73,29.39q0,18.06,10.92,29.72a35.35,35.35,0,0,0,26.87,11.66q16.47,0,27.32-11.47t10.85-30q0-18.19-10.85-29.47T801,118.49Z"
  ></path><path
    class="cls-4"
    d="M907.83,89.8h35v16a59.8,59.8,0,0,1,19.94-14.73,58.26,58.26,0,0,1,23.9-4.87,44.44,44.44,0,0,1,23.59,6.41q10.5,6.41,16.92,18.7a56.37,56.37,0,0,1,20.44-18.7,55.77,55.77,0,0,1,26.47-6.41q14.87,0,26.15,6.92a39.94,39.94,0,0,1,16.21,18.06q4.93,11.15,4.94,36.25v81.72h-35.22v-70.7q0-23.7-5.9-32.09T1062.56,118a26.86,26.86,0,0,0-16.08,5.12,30.35,30.35,0,0,0-10.57,14.16q-3.45,9-3.45,29v62.89H997.23v-67.5q0-18.71-2.76-27.09t-8.28-12.49a21.78,21.78,0,0,0-13.35-4.1A26.31,26.31,0,0,0,957,123.17a31,31,0,0,0-10.66,14.54q-3.52,9.34-3.53,29.46v62h-35Z"
  ></path><path
    class="cls-4"
    d="M1154.52,89.8h35.36v67.12q0,19.59,2.69,27.22a23.79,23.79,0,0,0,8.67,11.85q6,4.22,14.7,4.22a25.63,25.63,0,0,0,14.83-4.16,24.32,24.32,0,0,0,9-12.23q2.19-6,2.19-25.75V89.8h35v59.05q0,36.51-5.77,50-7.05,16.41-20.75,25.17t-34.84,8.78q-22.92,0-37.08-10.25t-19.92-28.56q-4.09-12.69-4.1-46.11Z"
  ></path><path
    class="cls-4"
    d="M1312.07,89.8h35v14.28q11.89-10,21.55-13.94a52,52,0,0,1,19.76-3.93,47.85,47.85,0,0,1,35.18,14.48q12.15,12.3,12.15,36.38v92.09h-34.59v-61q0-24.94-2.23-33.13t-7.8-12.48a21.86,21.86,0,0,0-13.73-4.28,25.69,25.69,0,0,0-18.21,7.1q-7.61,7.09-10.55,19.64-1.53,6.53-1.53,28.27v55.91h-35Z"
  ></path><path
    class="cls-5"
    d="M1483.13,32.42a21.41,21.41,0,0,1,15.78,6.66,22.14,22.14,0,0,1,6.58,16.14A21.86,21.86,0,0,1,1499,71.16a21.13,21.13,0,0,1-15.58,6.6,21.42,21.42,0,0,1-15.9-6.72,22.49,22.49,0,0,1-6.58-16.33A21.52,21.52,0,0,1,1467.42,39,21.41,21.41,0,0,1,1483.13,32.42Z"
  ></path><rect class="cls-4" x="1465.65" y="89.8" width="34.97" height="139.36"
  ></rect><path
    class="cls-4"
    d="M1536.61,38.44h35V89.8h20.75v30.1h-20.75V229.16h-35V119.9h-17.93V89.8h17.93Z"
  ></path><path
    class="cls-4"
    d="M1595.57,89.8h35.73l36.2,87.44,40-87.44h35.83L1656,280.14h-36.11l28.65-61.38Z"
  ></path><path
    class="cls-4"
    d="M109.12,66.24l8.24,16.05,18.53,36.08,7,13.55,13.53,26.36,30.24,58.86a31.73,31.73,0,0,0,25.26,17.44l2.06.18a7.11,7.11,0,0,0,5.67-2l-42.38,42.38,12.46-12.5c-6.2-1.37-11.5,1.76-22.44-15.27l-16.54-32.23L138.1,190.55l-2.34,3.14h0l-2.87,3.84-10.27,13.79-1.87,2.5-12.46,16.73L81.15,203.42a19.77,19.77,0,0,0,4.22-4.15h0l25.23-33.87,7.1-9.54-3.82-7.44L84.39,91Z"
  ></path><path
    class="cls-6"
    d="M167.25,247.32c10.94,17,16.24,13.9,22.44,15.27l-12.46,12.5a17.26,17.26,0,0,1-24.41,0l-44.53-44.53,12.46-16.73,1.87-2.5,10.27-13.79,2.87-3.84h0l2.34-3.14,12.61,24.54Z"
  ></path><path
    class="cls-6"
    d="M84.39,91l29.5,57.45,3.82,7.44-7.1,9.54L85.38,199.26h0a19.77,19.77,0,0,1-4.22,4.15L37.37,159.63a15.31,15.31,0,0,1,0-21.64Z"
  ></path><path
    class="cls-7"
    d="M175.85,21.15,292.68,138a15.31,15.31,0,0,1,0,21.64l-73.07,73.08a7.11,7.11,0,0,1-5.67,2l-2.06-.18a31.73,31.73,0,0,1-25.26-17.44l-30.24-58.86-13.53-26.36-7-13.55L117.36,82.29l-8.24-16.05L154.2,21.15A15.33,15.33,0,0,1,175.85,21.15Z"
  ></path>
</svg>
