<svg
  id="Layer_1"
  data-name="Layer 1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 0 453.54 453.54"
  ><defs
    ><style>
      .cls-1 {
        fill: #fff;
      }
      .cls-2 {
        fill: #365caa;
      }
      .cls-3 {
        fill: url(#linear-gradient);
      }
    </style><linearGradient
      id="linear-gradient"
      x1="167.24"
      y1="227.53"
      x2="392.04"
      y2="227.53"
      gradientTransform="translate(-94.69 226.46) rotate(-45)"
      gradientUnits="userSpaceOnUse"
      ><stop offset="0" stop-color="#45ade2"></stop><stop
        offset="0.29"
        stop-color="#44aae0"></stop><stop offset="0.54" stop-color="#3f9fd8"
      ></stop><stop offset="0.77" stop-color="#378ecc"></stop><stop
        offset="0.99"
        stop-color="#2d75ba"></stop><stop offset="1" stop-color="#2c74b9"
      ></stop>
    </linearGradient>
  </defs><title>acamunity</title><path
    class="cls-1"
    d="M131.22,87.52l14,27.22,31.42,61.16,11.79,23,22.94,44.7,51.28,99.8c8.64,16.83,24.71,27.92,42.83,29.56l3.49.31a12.09,12.09,0,0,0,9.62-3.48L246.7,441.64l21.13-21.2c-10.5-2.32-19.49,3-38-25.89l-28-54.64L180.36,298.3l-4,5.33h0l-4.86,6.5-17.42,23.38-3.17,4.25-21.12,28.37-46-46a32.7,32.7,0,0,0,7.16-7h0l42.77-57.44,12-16.17-6.48-12.62-50-97.4Z"
  ></path><path
    class="cls-2"
    d="M229.78,394.55c18.56,28.88,27.55,23.57,38,25.89l-21.13,21.2a29.27,29.27,0,0,1-41.38,0l-75.5-75.5,21.12-28.37,3.17-4.25,17.42-23.38,4.86-6.5h0l4-5.33,21.38,41.61Z"
  ></path><path
    class="cls-2"
    d="M89.3,129.44l50,97.4,6.48,12.62-12,16.17L91,313.07h0a32.7,32.7,0,0,1-7.16,7L9.56,245.88a26,26,0,0,1,0-36.71Z"
  ></path><path
    class="cls-3"
    d="M244.36,11.08l198.11,198.1a26,26,0,0,1,0,36.7l-123.9,123.9a12.09,12.09,0,0,1-9.62,3.48l-3.49-.31c-18.12-1.64-34.19-12.73-42.83-29.56l-51.28-99.8-22.94-44.7-11.79-23L145.2,114.74l-14-27.22,76.44-76.44A26,26,0,0,1,244.36,11.08Z"
  ></path>
</svg>
